Repository woltapp/magic-di: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, mypy, kacl-verify

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-ast
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
-   repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        entry: poetry run ruff format
        require_serial: true
        language: system
        types: [ python ]
      - id: ruff
        name: ruff
        # Add --fix, in case you want it to autofix when this hook runs
        entry: poetry run ruff check --force-exclude
        require_serial: true
        language: system
        types: [ python ]
      - id: mypy
        name: mypy
        entry: poetry run mypy .
        require_serial: true
        language: system
        types: [python]
        pass_filenames: false
      - id: kacl-verify
        name: kacl-verify
        entry: poetry run kacl-cli verify
        language: system
        files: 'CHANGELOG.md'
        pass_filenames: false

chore: update project structure to b25684a2
  .cruft.json
  .pre-commit-config.yaml.rej
  LICENSE
  LICENSE.rej
  poetry.lock
Due: none

Delete .rej files
  .pre-commit-config.yaml.rej
  LICENSE.rej
Due: none

Mention changes in the changelog
  CHANGELOG.md
Due: kacl-verify

Update deps
  poetry.lock
Due: none

Get rid of unneeded noqa
  src/magic_di/_injector.py
Due: ruff-format, ruff, mypy

Add type ignores for partial and functools.wraps
  src/magic_di/_container.py
Due: ruff-format, ruff, mypy

[Actions] Auto-Update cookiecutter template (#7)
  .cruft.json
  CHANGELOG.md
  LICENSE
  poetry.lock
  src/magic_di/_container.py
  src/magic_di/_injector.py
Due: ruff-format, ruff, mypy, kacl-verify

chore: update dependencies
  poetry.lock
Due: none

Add DependenciesHealthcheck dependency
  .github/CODEOWNERS
  CHANGELOG.md
  README.md
  src/magic_di/_container.py
  src/magic_di/_injector.py
  src/magic_di/_utils.py
  src/magic_di/healthcheck.py
  src/magic_di/testing.py
  src/magic_di/utils.py
  tests/test_healthcheck.py
  tests/test_utils.py
Due: ruff-format, ruff, mypy, kacl-verify

Add logs
  src/magic_di/healthcheck.py
Due: ruff-format, ruff, mypy

Add DependenciesHealthcheck dependency (#17)
  .github/CODEOWNERS
  CHANGELOG.md
  README.md
  src/magic_di/_container.py
  src/magic_di/_injector.py
  src/magic_di/_utils.py
  src/magic_di/healthcheck.py
  src/magic_di/testing.py
  src/magic_di/utils.py
  tests/test_healthcheck.py
  tests/test_utils.py
Due: ruff-format, ruff, mypy, kacl-verify

Release 0.2.0
  CHANGELOG.md
  pyproject.toml
Due: kacl-verify

Fix Python3.10 compatibility
  CHANGELOG.md
  README.md
  src/magic_di/_utils.py
  src/magic_di/healthcheck.py
  src/magic_di/testing.py
  tests/test_injector.py
Due: ruff-format, ruff, mypy, kacl-verify

Fix Python3.10 compatibility (#18)
  CHANGELOG.md
  README.md
  src/magic_di/_utils.py
  src/magic_di/healthcheck.py
  src/magic_di/testing.py
  tests/test_injector.py
Due: ruff-format, ruff, mypy, kacl-verify

Release 0.2.1
  CHANGELOG.md
  pyproject.toml
Due: kacl-verify

Fix type hinting in PyCharm
  src/magic_di/fastapi/__init__.py
  src/magic_di/fastapi/_provide.py
Due: ruff-format, ruff, mypy

add changes to CHANGELOG.md
  CHANGELOG.md
Due: kacl-verify

Fix type hinting in PyCharm (#20)
  CHANGELOG.md
  src/magic_di/fastapi/__init__.py
  src/magic_di/fastapi/_provide.py
Due: ruff-format, ruff, mypy, kacl-verify

Release 0.3.0
  CHANGELOG.md
  pyproject.toml
Due: kacl-verify

Fix pre-commit errors for main branch
  src/magic_di/_container.py
  src/magic_di/celery/__init__.py
  src/magic_di/celery/_task.py
  src/magic_di/fastapi/__init__.py
  tests/conftest.py
  tests/test_app.py
  tests/test_celery.py
  tests/test_healthcheck.py
  tests/test_injector.py
  tests/test_utils.py
Due: ruff-format, ruff, mypy

Unfinished work removed.
  src/magic_di/celery/_task.py
Due: ruff-format, ruff, mypy

Fix pre-commit errors for main branch (#21)
  src/magic_di/_container.py
  src/magic_di/celery/__init__.py
  src/magic_di/fastapi/__init__.py
  tests/conftest.py
  tests/test_app.py
  tests/test_celery.py
  tests/test_healthcheck.py
  tests/test_injector.py
  tests/test_utils.py
Due: ruff-format, ruff, mypy

Update dependencies
  poetry.lock
Due: none

Fix deprecation warning for Poetry 2
  poetry.lock
  pyproject.toml
Due: none

Ignore ruff errors
  src/magic_di/_utils.py
  tests/test_injector.py
Due: ruff-format, ruff, mypy

Fix mypy errors
  src/magic_di/_container.py
  src/magic_di/_utils.py
  src/magic_di/celery/_loader.py
Due: ruff-format, ruff, mypy

Fix Ruff
  src/magic_di/_injector.py
  src/magic_di/_utils.py
  src/magic_di/celery/_task.py
  tests/test_celery.py
Due: ruff-format, ruff, mypy

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Add Python 3.13 and 3.14
  .github/workflows/test.yml
  pyproject.toml
Due: none

Add timeout
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
Due: none

Fix Python 3.14 compatibility
  src/magic_di/celery/_async_utils.py
  src/magic_di/celery/_task.py
Due: ruff-format, ruff, mypy

Poetry 2 + Python 3.13/3.14 tooling fixes (#26)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/magic_di/_container.py
  src/magic_di/_injector.py
  src/magic_di/_utils.py
  src/magic_di/celery/_async_utils.py
  src/magic_di/celery/_loader.py
  src/magic_di/celery/_task.py
  tests/test_celery.py
  tests/test_injector.py
Due: ruff-format, ruff, mypy

Fix Provide type hint
  CHANGELOG.md
  src/magic_di/fastapi/_provide.py
Due: ruff-format, ruff, mypy, kacl-verify

Support FastAPI 0.137+ included-router structure
  poetry.lock
  src/magic_di/fastapi/_app.py
  tests/test_app.py
Due: ruff-format, ruff, mypy

Fix Provide type hint (#27)
  CHANGELOG.md
  src/magic_di/fastapi/_provide.py
Due: ruff-format, ruff, mypy, kacl-verify

fix: support FastAPI 0.137+ (#28)
  poetry.lock
  src/magic_di/fastapi/_app.py
  tests/test_app.py
Due: ruff-format, ruff, mypy
