Repository woltapp/magic-di: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, mypy, kacl-verify

ruff-format:
  name: ruff-format
  entry: poetry run ruff format
  require_serial: true
  language: system

ruff:
  name: ruff
  entry: poetry run ruff check --force-exclude
  require_serial: true
  language: system

mypy:
  name: mypy
  entry: poetry run mypy .
  require_serial: true
  language: system
  pass_filenames: false

kacl-verify:
  name: kacl-verify
  entry: poetry run kacl-cli verify
  language: system
  pass_filenames: false

Update CHANGELOG.md
  CHANGELOG.md
Due: kacl-verify

docs: Update CHANGELOG.md (#29)
  CHANGELOG.md
Due: kacl-verify

Handle mounted apps
  src/magic_di/fastapi/_app.py
  tests/test_app.py
Due: ruff-format, ruff, mypy

Handle mounted apps
  CHANGELOG.md
Due: kacl-verify

Handle mounted apps (#30)
  CHANGELOG.md
  src/magic_di/fastapi/_app.py
  tests/test_app.py
Due: ruff-format, ruff, mypy, kacl-verify

Release 0.3.1
  CHANGELOG.md
  pyproject.toml
Due: kacl-verify

Release 0.3.1 (#31)
  CHANGELOG.md
  pyproject.toml
Due: kacl-verify

Deployed c1a8fe0 with MkDocs version: 1.6.1
  404.html
  api_docs/index.html
  assets/_mkdocstrings.css
  assets/javascripts/bundle.79ae519e.min.js
  assets/javascripts/bundle.79ae519e.min.js.map
  assets/javascripts/bundle.ad660dcc.min.js
  assets/javascripts/bundle.ad660dcc.min.js.map
  assets/javascripts/workers/search.2c215733.min.js
  assets/javascripts/workers/search.2c215733.min.js.map
  assets/javascripts/workers/search.b8dbb3d2.min.js
  assets/javascripts/workers/search.b8dbb3d2.min.js.map
  assets/stylesheets/main.484c7ddc.min.css
  assets/stylesheets/main.484c7ddc.min.css.map
  assets/stylesheets/main.6543a935.min.css
  assets/stylesheets/main.6543a935.min.css.map
  assets/stylesheets/palette.06af60db.min.css
  assets/stylesheets/palette.06af60db.min.css.map
  assets/stylesheets/palette.ab4e12ef.min.css
  assets/stylesheets/palette.ab4e12ef.min.css.map
  changelog/index.html
  index.html
  objects.inv
  search/search_index.json
  sitemap.xml.gz
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  kacl-verify: any of: CHANGELOG.md
