Repository woltapp/magic-di: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, mypy, kacl-verify

ruff-format:
  name: ruff-format
  entry: poetry run ruff format
  require_serial: true
  language: system

ruff:
  name: ruff
  entry: poetry run ruff check --force-exclude
  require_serial: true
  language: system

mypy:
  name: mypy
  entry: poetry run mypy .
  require_serial: true
  language: system
  pass_filenames: false

kacl-verify:
  name: kacl-verify
  entry: poetry run kacl-cli verify
  language: system
  pass_filenames: false

update poetry lock
  poetry.lock
Due: none

fix ci
  .github/actions/python-poetry-env/action.yml
Due: none

lower threshold
  pyproject.toml
Due: none

small fixes
  .cruft.json
  README.md
  mkdocs.yml
Due: none

fmt
  README.md
  pyproject.toml
  src/magic_di/_connectable.py
  src/magic_di/_container.py
  src/magic_di/_injector.py
  src/magic_di/_signature.py
  src/magic_di/_utils.py
  src/magic_di/celery/__init__.py
  src/magic_di/celery/_async_utils.py
  src/magic_di/celery/_loader.py
  src/magic_di/celery/_provide.py
  src/magic_di/celery/_task.py
  src/magic_di/exceptions.py
  src/magic_di/fastapi/__init__.py
  src/magic_di/fastapi/_app.py
  src/magic_di/fastapi/_provide.py
  src/magic_di/testing.py
  src/magic_di/utils.py
  tests/conftest.py
  tests/test_app.py
  tests/test_celery.py
  tests/test_injector.py
  tests/test_utils.py
Due: ruff-format, ruff, mypy

fmt
  .pre-commit-config.yaml
  src/__init__.py
  src/magic_di/_container.py
  src/magic_di/_injector.py
  src/magic_di/_utils.py
  src/magic_di/celery/_loader.py
  src/magic_di/celery/_task.py
  src/magic_di/exceptions.py
  src/magic_di/fastapi/__init__.py
  src/magic_di/fastapi/_app.py
  src/magic_di/fastapi/_provide.py
  src/magic_di/testing.py
  src/magic_di/utils.py
  tests/conftest.py
  tests/test_app.py
  tests/test_celery.py
  tests/test_injector.py
  tests/test_utils.py
Due: ruff-format, ruff, mypy

support python 3.9+
  .github/workflows/test.yml
  src/magic_di/_injector.py
Due: ruff-format, ruff, mypy

drop python 3.9
  .github/workflows/test.yml
  pyproject.toml
Due: none

drop python 3.9
  poetry.lock
Due: none

fix pydantic support
  poetry.lock
  pyproject.toml
  src/magic_di/_container.py
  src/magic_di/_injector.py
  src/magic_di/_utils.py
  tests/test_injector.py
Due: ruff-format, ruff, mypy

Use Wolt in LICENCE
  LICENCE
Due: none

Add changelog entry
  CHANGELOG.md
Due: kacl-verify

Remove redundant comment
  .pre-commit-config.yaml
Due: none

Use 3.10 as target for Ruff
  pyproject.toml
Due: none

Fix Ruff / mypy issues
  src/magic_di/_container.py
  src/magic_di/_injector.py
  src/magic_di/_utils.py
  src/magic_di/celery/_async_utils.py
  src/magic_di/celery/_loader.py
  src/magic_di/celery/_task.py
  src/magic_di/fastapi/_app.py
  src/magic_di/utils.py
Due: ruff-format, ruff, mypy

Extras required for local development
  README.md
Due: none

Add mention about extras
  README.md
Due: none

Fix target version for Ruff
  pyproject.toml
Due: none

Add alternatives section
  README.md
Due: none

Fix GitHub username
  .cruft.json
  README.md
  pyproject.toml
Due: none

3.8+ -> 3.10+
  README.md
Due: none

Move alternatives lower
  README.md
Due: none

Let Ruff fix things to be happy with 3.10+
  src/magic_di/_container.py
  src/magic_di/_injector.py
  src/magic_di/celery/_async_utils.py
  src/magic_di/celery/_loader.py
  src/magic_di/celery/_task.py
  src/magic_di/exceptions.py
  src/magic_di/fastapi/_app.py
  src/magic_di/utils.py
  tests/test_app.py
  tests/test_celery.py
Due: ruff-format, ruff, mypy

update readme
  README.md
Due: none

chore: update project structure to 7cf13131
  .cruft.json
  LICENCE.rej
  poetry.lock
Due: none

Release 0.1.0
  CHANGELOG.md
  pyproject.toml
Due: kacl-verify

Add CODEOWNERS
  .github/CODEOWNERS
Due: none

fix
  .github/CODEOWNERS
Due: none

fix
  .github/CODEOWNERS
  CHANGELOG.md
Due: kacl-verify

Pycharm's "Reformat code" && "Optimize imports" of code examples.
  README.md
Due: none

End-of-file-fixer.
  CHANGELOG.md
Due: kacl-verify

Exclude changelog from end-of-file-fixer
  .pre-commit-config.yaml
Due: none

Add CODEOWNERS (#3)
  .github/CODEOWNERS
  CHANGELOG.md
Due: kacl-verify

Exclude changelog from end-of-file-fixer (#6)
  .pre-commit-config.yaml
Due: none

Pycharm's "Reformat code" && "Optimize imports" of code examples. (#4)
  README.md
Due: none

Update README.md
  README.md
Due: none

fmt
  README.md
Due: none

Update README.md (#9)
  README.md
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  kacl-verify: any of: CHANGELOG.md
